<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.maojx0630.upright.mahjong.mapper.GameDataMapper">
  <resultMap id="BaseResultMap" type="com.github.maojx0630.upright.mahjong.model.GameData">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="INTEGER" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_date
  </sql>
</mapper>