<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.maojx0630.upright.mahjong.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.maojx0630.upright.mahjong.model.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="LONGVARCHAR" property="name" />
    <result column="simple_name" jdbcType="LONGVARCHAR" property="simpleName" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name", simple_name, create_time
  </sql>
</mapper>